@import 'leaflet/dist/leaflet.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background: #f4f5f9;
}

.btn-selectItems {
    color: orange;
    font-family: 'Darker Grotesque', 'sans-serif';
    font-size: 1.3rem;
    color: black;
    font-weight: 400;
    margin: 0px 3px;
    padding: 2.5rem 2.5rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
